/* https://huemint.com/bootstrap-plus/ */

:root {
  --light: #edf1c2;
  --dark: #040400;
  --primary: #0039b2;
  --secondary: #68bc9d;
  --info: #db9677;
  --accent1: #433a58;
  --accent2: #6f6991;
  --accent3: #d9c697;
  --success: #00af65;
  --warning: #e5ce00;
  --danger: #f61b00;
}

#root {
  max-width: 1280px;
  text-align: center;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-weight: 700; */
}

header {
  margin-top: -20px;
  padding: 10px 0;
}

.search-box {
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin-top: 10px;
  padding: 3px 5px;
  width: 300px;
}

.search-box:active {
  border-color: var(--primary);
}

.search-type-section {
  width: 300px;
  margin: 0 auto 10px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radios-zone {
  display: flex;
  justify-content: center;
  gap: 10px;
}

label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.main {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line {
  flex-shrink: 1;
  flex-grow: 1;
  max-width: fit-content;
  /* border: 2px solid var(--info); */
  border-radius: 10px;
  background: var(--accent3);
  padding: 5px 10px;
  gap: 10px;
  /* margin-bottom: 10px; */
  display: flex;
  z-index: 2;
}

.line > div {
  /* border: 1px solid #000; */
  align-content: center;
}

.line:hover {
  cursor: pointer;
  background-color: var(--info);
}

.line:active {
  background: var(--secondary);
  border-color: var(--success);
}

.emoji-symbol {
  font-size: 20px;
  /* margin-right: 10px; */
}

.emoji-copied {
  color: var(--danger);
  height: 20px;
  top: 0;
  position: sticky;
  top: 0;
  text-align: right;
  /* flex-grow: 1; */
  /* background: var(--accent2); */
  display: flex;
  justify-content: end;
}

.emoji-copied > div {
  /* border: 1px solid #000; */
}

.tags {
  /* visibility: hidden; */
  display: none;

  /* max-width: 300px; */
  font-size: 12px;
  color: var(--accent2);
}
